

.mqqt-home {
    background-color: #1E2F46;
    color: white;
}

.mqqt-footer {
    color: white;
    background-color: #1E2F46;
}

.mqqt-glass {
    background: linear-gradient(130deg, rgba(0, 17, 255, 0.3));
    backdrop-filter: blur(1.5px);
    box-shadow: 10px 10px 20x rgba(233, 242, 255, 0.5);
}

.card:hover {
    transform: scale(1.05);
}

.card {
    width: 25rem;
    transition-duration: 0.7s;
}